<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ inventory_hostname }}.exit.li</title>
    </head>
    <body>
        <h1>{{ inventory_hostname }}.exit.li</h1>

        <p>
            This server is proxying traffic from mesh networks into the internet.
        </p>

        <p>
            Report abuse to
            <i>abuse µ exit.li</i>
        </p>

<pre>
"{{ peering[inventory_hostname].addr }}:{{ peering[inventory_hostname].port }}":{"publicKey": "{{ peering[inventory_hostname].pubkey }}", "password": "{{ peering[inventory_hostname].password }}"}
</pre>
    </body>
</html>
